html  {
  font-family: "Calibri", "Lucida Grande", sans-serif;
  font-size: 16px;
}

body {
  margin: 1rem 10rem 1rem 10rem;
  }

address {
  margin-left: inherit;
}

.business-name {
  background-color: #2D5A72;
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 3rem;
  margin: inherit;
  }

.business-logo {
  position: relative;
  margin: inherit;
}

a {
  color: #FCEFBB;
  text-decoration: none;
}

nav {
  background-color: #848D8A;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0 10rem 0 10rem;
  }

  nav a:hover {
  color: white;
  transition: .5s ease;
  border-radius: 20%;
  }

h1,h2,h3 {
  color: #3F5A83;
}

p {
  color: #3F5A83;
}

.container {
  margin: 0 10rem 0 10rem;
}

.col1 {
  /*border: 1px solid black;*/
  text-align: left;
}

.col2 {
  text-align: left;
  /*border: 1px solid black;*/
}

.flex-container {
  display: flex;
  margin: inherit;
  }

.specials {
  padding: 1rem 1rem 1rem 0;
}

.specials-image {
  padding: 1rem 0 0 2rem;
}

.news-image {
  padding-top: 2rem;
}

.news {
  padding: 1rem 0 0 1rem;
}

.code-sample {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin-left: 3rem;
}

footer {
  background-color: #848D8A;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  padding: .5rem .5rem .5rem .5rem;
  margin: 0 10rem 0 10rem;
}
