html  {
  font-family: "Calibri", "Lucida Grande", sans-serif;
  font-size: 16px;
}

main {
  margin: 1rem 20rem 1rem 20rem;
}

h1,h2,h3 {
  color: #3F5A83;
}

p {
  color: #3F5A83;
}

.button {
  background-color: #9FADC2;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: .1rem .1rem 1rem #888888;
  border-radius: 50%;
  font-weight: bold;
  }

a:hover {
  background-color: #E7E8EC;
  color: grey;
}
